table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }